Source: debathena-get-message
Section: debathena/net
Priority: extra
Maintainer: Debathena Project <debathena@mit.edu>
Build-Depends: debhelper (>= 7), python2.7, python (>= 2.6.6-3~)
Standards-Version: 3.9.3

Package: debathena-get-message
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, ${python:Depends}, python-hesiod
X-Python-Version: 2.7
Description: A program to display the global Athena message of the day
 The get_message utility locates the Athena Global Message server,
 retrieves the current message of the day, and displays it if
 necessary.
