Source: debathena-get-message
Section: debathena/net
Priority: extra
Maintainer: Debathena Project <debathena@mit.edu>
Build-Depends: debhelper (>= 7), python-support
Standards-Version: 3.9.3

Package: debathena-get-message
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, python-hesiod
Description: A program to display the global Athena message of the day
 The get_message utility locates the Athena Global Message server,
 retrieves the current message of the day, and displays it if
 necessary.
